* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


h1 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 1.75em;
}

p > span {
	float: right;
	border: 1px solid black;
	padding: 5px 50px 5px 50px;
	margin-bottom: 15px;
	clear: left;
	margin-left: 100%;
	margin-right: -15px;
	font-weight: bold;
	font-size: 1.2em;
}

#chicken {
	background-color: #D59898;
}

#beef {
	background-color: #C14543;
	color: #FFFFFF;
}

#sushi {
	background-color: #E5D198;
}

p {
		background-color: gray;
		border: 1px solid black;
		margin: 30px;
		padding: 0px 15px 15px 15px;
		font-size: 1em;
	}


@media(min-width: 992px) {

	section {
		width: 33.3%;
		float: left;
	}
}

@media(min-width: 768px) and (max-width: 991px) {

	section {
		width: 50%;
		float: left;
	}

	.col-md-12 {
		width: 100%;
	}

}